html {
  background: #34e89e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0f3443,
    #34e89e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0f3443,
    #34e89e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  margin: 10px;
  font-family: "Inter", sans-serif;
  color: white;
  overflow-x: hidden;
}

code {
  font-family: "Inter", sans-serif;
}

.app-div {
  text-align: center;
  margin-bottom: 3rem;
}

.MuiTextField-root {
  color: white;
  background-color: #d8ffef;
  outline: none;
  border-radius: 5px;
  width: 100%;
}

hr {
  background-color: white;
  color: white;
  border-style: solid 1px;
}

td,
th {
  padding-bottom: 1rem;
}

.MuiTextField-root:focus {
  outline: none;
}

.footer {
  text-align: center;
  padding-top: 50px;
}
